#menu {
	position: fixed;
	width: 100%;
	background: #88ac79;
	top: 0;
	padding: 15px 0;
	z-index: 1000;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #ffffff;
	text-align: center;
}

#menu .logo {
    height: 50px; 
    margin-right: 20px; 
    vertical-align: middle; 
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#menu a:hover {
    background-color: #557d3fb6;  /* Dark Green */
    color: #fff9f9;
}

#menu a:active {
    background-color: #557d3fb6;
}


.section {
    padding: 40px 20px;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;  /* Light background color for the sections */
}

.section::after {
    content: "";
    position: relative;
    display: block;
    margin-top: 50px;  
    width: 100px;
    height: 70px;
    background-image: url('photos/okra.png');
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto; 
}



body {
    background-color: #f5f5dc; /* Light cream color */
    font-family: 'Playfair Display', serif;
    color: #333;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #333;
}

#about {
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;
    background: rgba(255, 255, 255, 0.9);  /* White background with some transparency */
    padding: 20px;
    border-radius: 10px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-family: 'Arial', sans-serif;
}